
/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 */

.view-client-featured {
  text-align: center;
}

.view-client-featured .jcarousel-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  margin: auto;
  
  background: #ebebeb;
  background: -moz-linear-gradient(top, #ebebeb 0%, #ededed 2%, #f1f1f1 86%, #eeeeee 88%, #ececec 89%, #e9e9e9 90%, #e9e9e9 91%, #e2e2e2 92%, #dddddd 93%, #dbdbdb 94%, #d9d9d9 95%, #d1d1d1 96%, #cbcbcb 97%, #c6c6c6 98%, #bdbdbd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(2%,#ededed), color-stop(86%,#f1f1f1), color-stop(88%,#eeeeee), color-stop(89%,#ececec), color-stop(90%,#e9e9e9), color-stop(91%,#e9e9e9), color-stop(92%,#e2e2e2), color-stop(93%,#dddddd), color-stop(94%,#dbdbdb), color-stop(95%,#d9d9d9), color-stop(96%,#d1d1d1), color-stop(97%,#cbcbcb), color-stop(98%,#c6c6c6), color-stop(100%,#bdbdbd));
  background: -webkit-linear-gradient(top, #ebebeb 0%,#ededed 2%,#f1f1f1 86%,#eeeeee 88%,#ececec 89%,#e9e9e9 90%,#e9e9e9 91%,#e2e2e2 92%,#dddddd 93%,#dbdbdb 94%,#d9d9d9 95%,#d1d1d1 96%,#cbcbcb 97%,#c6c6c6 98%,#bdbdbd 100%);
  background: -o-linear-gradient(top, #ebebeb 0%,#ededed 2%,#f1f1f1 86%,#eeeeee 88%,#ececec 89%,#e9e9e9 90%,#e9e9e9 91%,#e2e2e2 92%,#dddddd 93%,#dbdbdb 94%,#d9d9d9 95%,#d1d1d1 96%,#cbcbcb 97%,#c6c6c6 98%,#bdbdbd 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%,#ededed 2%,#f1f1f1 86%,#eeeeee 88%,#ececec 89%,#e9e9e9 90%,#e9e9e9 91%,#e2e2e2 92%,#dddddd 93%,#dbdbdb 94%,#d9d9d9 95%,#d1d1d1 96%,#cbcbcb 97%,#c6c6c6 98%,#bdbdbd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#bdbdbd',GradientType=0 );
  background: linear-gradient(top, #ebebeb 0%,#ededed 2%,#f1f1f1 86%,#eeeeee 88%,#ececec 89%,#e9e9e9 90%,#e9e9e9 91%,#e2e2e2 92%,#dddddd 93%,#dbdbdb 94%,#d9d9d9 95%,#d1d1d1 96%,#cbcbcb 97%,#c6c6c6 98%,#bdbdbd 100%);
}

.view-client-featured .jcarousel-container-horizontal {
  padding: 40px 90px 20px 90px;
}

.view-client-featured .jcarousel-container-vertical {
  width: 102px;
  height: 440px;
  padding: 40px 20px;
}

.view-client-featured .jcarousel-clip-horizontal {
}

.view-client-featured .jcarousel-clip-vertical {
  height: 440px;
}

.view-client-featured .jcarousel-item {
  padding: 0;
  overflow: hidden;
  list-style: none;
  text-align: left;
}

.view-client-featured .jcarousel-item .views-field-field-client-screenshot-fid img {
  border: 2px solid #CCCCCC;
}

.view-client-featured .jcarousel-item .views-field-title a {
  color: #666666;
  text-decoration: none;
}

.view-client-featured .jcarousel-item-horizontal {
  margin: 0 10px;
}

.view-client-featured .jcarousel-item-vertical {
  margin: 4px 0;
}

.view-client-featured .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.view-client-featured .jcarousel-next,
.view-client-featured .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(arrows.png);
}

/**
 *  Horizontal Buttons
 */
.view-client-featured .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 25px;
  width: 41px;
  height: 72px;
  background: url(../img/view-featured-client-left-arrow.png) no-repeat top center;
}
.view-client-featured .jcarousel-prev-horizontal:hover {
}
.view-client-featured .jcarousel-prev-horizontal:active {
}
.view-client-featured .jcarousel-prev-disabled-horizontal,
.view-client-featured .jcarousel-prev-disabled-horizontal:hover,
.view-client-featured .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
}

.view-client-featured .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 25px;
  width: 41px;
  height: 72px;
  background: url(../img/view-featured-client-right-arrow.png) no-repeat top center;
}
.view-client-featured .jcarousel-next-horizontal:hover {
}
.view-client-featured .jcarousel-next-horizontal:active {
}
.view-client-featured .jcarousel-next-disabled-horizontal,
.view-client-featured .jcarousel-next-disabled-horizontal:hover,
.view-client-featured .jcarousel-next-disabled-horizontal:active {
  cursor: default;
}

/**
 *  Vertical Buttons
 */
.view-client-featured .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 55px;
  background-position: 0 -64px;
}
.view-client-featured .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.view-client-featured .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}
.view-client-featured .jcarousel-prev-disabled-vertical,
.view-client-featured .jcarousel-prev-disabled-vertical:hover,
.view-client-featured .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

.view-client-featured .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 55px;
  background-position: 0 -96px;
}
.view-client-featured .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.view-client-featured .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
.view-client-featured .jcarousel-next-disabled-vertical,
.view-client-featured .jcarousel-next-disabled-vertical:hover,
.view-client-featured .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}

