.footer .view-blog-latest ul {
  margin: 0;
  padding: 0;
}

.footer .view-blog-latest ul li {
  list-style: none;
  border-bottom: 1px dashed #FFFFFF;
  line-height: 35px;
}

.footer .view-blog-latest ul li.views-row-last {
  border: 0;
}

.footer .view-blog-latest .views-field-title a,
.footer .view-blog-latest .views-field-title a:visited {
  color: #FFFFFF;
  margin-left: 10px;
  text-decoration: none;
  padding: 5px;
}

.footer .view-blog-latest .views-field-title a:hover,
.footer .view-blog-latest .views-field-title a:active {
  color: black;
  background-color: #a0b050;
}